In [2]:
name = "Sam"

In [3]:
name

'Sam'

In [4]:
last_letters = name[1:]

In [5]:
last_letters

'am'

In [6]:
'P' + last_letters

'Pam'

In [7]:
x = 'Hello World '

In [17]:
x = x + " it is beautiful outside"

In [18]:
x

'Hello World it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [19]:
letter = 'Z'

In [20]:
letter * 10

'ZZZZZZZZZZ'

In [21]:
2 + 3

5

In [23]:
'2 ' + '3'

'2 3'

In [29]:
x = 'Hello World'

In [25]:
x

'Hello World'

In [31]:
 x.lower()

'hello world'

In [32]:
x.split()

['Hello', 'World']

In [33]:
x = 'Hi this is a string'

In [34]:
x

'Hi this is a string'

In [35]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [37]:
x.split('s')

['Hi thi', ' i', ' a ', 'tring']

In [38]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [42]:
print('The {0} {0} {0} ' .format('fox', 'brown', 'quick'))

The fox fox fox

In [44]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [58]:
result = 104.12345

In [59]:
result

104.12345

In [61]:
print('The result was {r:1.5f}' .format(r=result))

The result was 104.12345

In [62]:
name = "Hollie"

In [63]:
name

'Hollie'

In [68]:
print(f'Hello, her name is {name}')

Hello, her name is Hollie

In [71]:
name = "Sam"
age = 3

In [72]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [73]:
# Lists

In [74]:
# support indexing and slicing

In [75]:
my_list = [1,2,3]

In [77]:
my_list = ['STRING', 100, 2.3]

In [78]:
my_list

['STRING', 100, 2.3]

In [79]:
len(my_list)

3

In [81]:
my_list[0]

'STRING'

In [82]:
my_list[1:]

[100, 2.3]

In [83]:
another_list = ['four', 'five']

In [84]:
my_list + another_list

['STRING', 100, 2.3, 'four', 'five']

In [85]:
new_list = my_list + another_list

In [86]:
new_list

['STRING', 100, 2.3, 'four', 'five']

In [87]:
new_list

['STRING', 100, 2.3, 'four', 'five']

In [88]:
new_list[0] = 'string lower'

In [89]:
new_list

['string lower', 100, 2.3, 'four', 'five']

In [90]:
new_list.append('six')

In [91]:
new_list

['string lower', 100, 2.3, 'four', 'five', 'six']

In [92]:
new_list.append('seven')

In [93]:
new_list

['string lower', 100, 2.3, 'four', 'five', 'six', 'seven']

In [94]:
new_list.pop()

'seven'

In [95]:
new_list

['string lower', 100, 2.3, 'four', 'five', 'six']

In [100]:
popped_item = new_list.pop(0)

In [101]:
popped_item

'string lower'

In [102]:
new_list

[100, 2.3, 'four']

In [103]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [104]:
new_list.sort()

In [105]:
new_list

['a', 'b', 'c', 'e', 'x']

In [107]:
new_list.sort()
my_sorted_list = new_list

In [108]:
num_list

[4, 1, 8, 3]

In [109]:
num_list.sort()

In [110]:
num_list

[1, 3, 4, 8]

In [111]:
num_list.reverse()

## num_list

In [113]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [114]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [115]:
my_dict['key1']

'value1'

In [117]:
price_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [118]:
price_lookup['apple']

2.99

In [121]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [126]:
d['k2']

[0, 1, 2]

In [127]:
d['k3']['insidekey']

100

In [128]:
d['k2'][2]

2

In [130]:
d = {'key1':['a','b','c']}

In [131]:
d

{'key1': ['a', 'b', 'c']}

In [132]:
my_list = d['key1']

In [133]:
my_list

['a', 'b', 'c']

In [135]:
letter = my_list[2]

In [136]:
letter

'c'

In [138]:
letter.upper()

'C'

In [139]:
d

{'key1': ['a', 'b', 'c']}

In [142]:
d['key1'][2].upper()

'C'

In [144]:
d = {'k1':100, 'k2':200}

In [146]:
d['k3'] = 300

In [147]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [148]:
d['k1'] = 'NEW VALUE'

In [149]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [150]:
d = {'key1': ['a', 'b', 'c']}

In [154]:
d.keys()

dict_keys(['key1'])

In [155]:
d = {'k1': 100, 'k2': 200, 'k3': 300}

In [156]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [157]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [158]:
d.values()

dict_values([100, 200, 300])

In [159]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [160]:
t = (1,2,3)

In [161]:
mylist =[1,2,3]

In [162]:
type

type

In [163]:
type(t)

tuple

In [164]:
type(mylist)

list

In [165]:
len(t)

3

In [166]:
t = ('one', 2)

In [167]:
t[0]

'one'

In [168]:
t[-1]

2

In [169]:
t = ('a' , 'a', 'b')

In [172]:
t.count('a')

2

In [173]:
t.index('a')

0

In [174]:
t.index('b')

2

In [175]:
t

('a', 'a', 'b')

In [176]:
mylist

[1, 2, 3]

In [177]:
mylist[0]= 'NEW'

In [178]:
mylist

['NEW', 2, 3]

In [180]:
t

('a', 'a', 'b')

In [181]:
myset = set()

In [182]:
myset

set()

In [183]:
myset.add(1)

In [184]:
myset

{1}

In [185]:
myset.add(2)

In [186]:
myset

{1, 2}

In [187]:
myset.add(2)

In [188]:
myset

{1, 2}

In [189]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,2,2,3,3,3,3,3,3,3]

In [190]:
set(mylist)

{1, 2, 3}

True

In [191]:
True

True

In [192]:
False

False

In [193]:
type(False)

bool

In [194]:
1 > 2

False

In [195]:
1 == 1

True

In [197]:
b = None

In [199]:
b

In [201]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [202]:
myfile = open('myfile.txt')

In [203]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [204]:
pwd

'C:\\Users\\squid'

In [205]:
myfile = open('myfile.txt')

In [206]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [207]:
myfile.read()

''

In [213]:
myfile.seek(0)

0

In [211]:
contents = myfile.read()

In [212]:
contents

''

In [214]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [215]:
pwd

'C:\\Users\\squid'

In [220]:
myfile.close()

In [224]:
myfile = open('myfile.txt')

In [225]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [226]:
myfile.readlines()

[]

In [227]:
myfile.seek(0)

0

In [228]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [229]:
myfile.seek(0)

0

In [230]:
myfile = open('myfile.txt')

In [231]:
contents = myfile.read()

In [232]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [233]:
myfile.seek(0)

0

In [234]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [235]:
myfile.seek(0)

0

In [236]:
myfile.close()

In [238]:
myfile = open('myfile.txt')

In [247]:
with open('myfile.txt') as my_new_file:

SyntaxError: unexpected EOF while parsing (<ipython-input-247-4670d573d5a8>, line 1)

In [257]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [251]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [258]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [259]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [260]:
with open('deihfiughelirug.txt', mode='w') as f:
    f.write('I created this file.')

In [262]:
with open('deihfiughelirug.txt', mode='r') as f:
    print(f.read())

I created this file.

In [263]:
# Comparison Operators

In [264]:
2 == 2

True

In [265]:
2 == 1

False

In [266]:
'hello' == 'bye'

False

In [267]:
'Bye' == 'bye'

False

In [268]:
'2' == 2

False

In [269]:
2.0 == 2

True

In [270]:
# floating points / integers not affected

In [271]:
3 != 3

False

In [272]:
4 != 5

True

In [273]:
2 > 1

True

In [274]:
1 > 2

False

In [275]:
1 < 2

True

In [276]:
2 < 5

True

In [277]:
2 >= 2

True

In [278]:
4 <= 1

False

In [279]:
# Chaining Comparison Operators Using Logical Operators

In [280]:
1 < 2

True

In [281]:
2 < 3

True

In [282]:
1 < 2 < 3

True

In [283]:
1 < 2 > 3

False

In [284]:
1 < 2 and 2 < 3

True

In [286]:
1 < 2 and 2 > 3

False

In [287]:
'h' == 'h' and 2 == 2

True

In [288]:
('h' == 'h') and (2 == 2)

True

In [294]:
# some libraries need parenthesis, but sometimes it's just easier to read espeically if you are coming back to something after an extended period 
# and is what's on left and right both true.

In [290]:
1 == 1 or 2 == 2

True

In [291]:
# or only needs one of these to be true as seen below.

In [292]:
100 == 1 or 2 == 2

True

In [293]:
100 == 1 or 2 == 200

False

In [295]:
1 == 1

True

In [296]:
not(1 == 1)

False

In [297]:
# technically you do not need the parenthesis, but again it makes it more readable.

In [298]:
400 > 500

False

In [299]:
not(400 > 500)

True

In [300]:
# not can be more useful for control flow.

In [302]:
# If, elif and else statements

# understanding use of whitespace and indentation

In [304]:
# Syntax 
# if some_condition 
#     # execute some code 
# elif some_other_condition
      # do something else
# else 
      # do something else

In [305]:
if True:
    print("IT'S TRUE!")

IT'S TRUE!

In [307]:
if 3 > 2:
    print("it's true!")

it's true!

In [308]:
hungry = True 

if hungry:
    print('Feed Me!')

Feed Me!

In [311]:
hungry =  False 

if hungry: 
    print('Feed Me!')
else: 
    print("I'm not hungry")

I'm not hungry

In [312]:
hungry =  True 

if hungry: 
    print('Feed Me!')
else: 
    print("I'm not hungry")

Feed Me!

In [314]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
else:
    print("I do not know much")

I do not know much

In [318]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print("Money is Cool!")
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print("I do not know much")

Cars are cool!

In [319]:
# you can change result by changing the object in the location statement at the top

In [324]:
# last Exmaple 

name = 'Sammy'
 
if name == 'Frankie':
    print("Hello Frankie")

elif name == 'Sammy':
    print("Hello Sammy!")

else:
    print("What is your name?")

Hello Sammy!

In [325]:

name = 'Frankie'
 
if name == 'Frankie':
    print("Hello Frankie")

elif name == 'Sammy':
    print("Hello Sammy!")

else:
    print("What is your name?")

Hello Frankie

In [327]:
name = 'John'
 
if name == 'Frankie':
    print("Hello Frankie")

elif name == 'Sammy':
    print("Hello Sammy!")

else:
    print("What is your name?")

What is your name?

In [329]:
# For Loops

# Many objects in python are iterable.
# We can iterate over every element in the object.
# For loops can be used to execute a block of code for every iteration.
# E.g. you can iterate over every item in a list, or every key in a dict.


# Syntax (a list example):

# my_iterable = [1,2,3]
# for item_name in my_iterable:
#     print(item_name)

In [340]:
mylist = [1,2,3,4,5,6,7,8,9,10]
# cannot use list alone as it is a key word.

In [342]:
# for loop to iterate through every item in this list:

for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [343]:
for jelly in mylist:
    print(jelly)
# variable name can be anything you want.

1
2
3
4
5
6
7
8
9
10

In [344]:
for jelly in mylist:
    print('Hello')
# variable name can be anything you want and you have full flexibility.

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [349]:
# Priting out only even numbers in list. 

for num in mylist:
    if num % 2 == 0: 
        print(num)
    else:
        print('Odd Number')

Odd Number
2
Odd Number
4
Odd Number
6
Odd Number
8
Odd Number
10

In [352]:
# You can add formatting:

# Priting out only even numbers in list. 

for num in mylist:
    if num % 2 == 0: 
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [353]:
# Running Tally using indentation. Print is occurring outside the loop. 

list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [354]:
# When Print is occurring inside the loop it shows the cumulative running tally. 
# If you only want to see the final result you will need to place print outside of the for loop, using indentation. 

list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [356]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [357]:
# Can get the same result without assigning first:


for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [361]:
# Common Sytnax for when you don't intend to use a variable name as you interate through:


for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [363]:
for _ in '12':
    print('NINE NINE!')

NINE NINE!
NINE NINE!

In [364]:
# Same iteration can be used for a Tuple:

tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [365]:
# Tuple Unpacking: how to show the individual items, as oppose to printing tuples out. 

mylist = [(1,2), (3,4), (5,6), (7,8)]

len(mylist)

4

In [366]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [367]:
for (a,b) in mylist:
    print(a)
    print(b)

    # this is tuple unpacking by assigning variables

1
2
3
4
5
6
7
8

In [368]:
for a,b in mylist:
    print(b)

2
4
6
8

In [369]:
# Final Example

mylist = [(1,2,3), (5,6,7), (8,9,10)]

for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [370]:
# Assigning a,b,c for tuple unpacking:
for a,b,c in mylist:
    print(c)

3
7
10

In [371]:
# How to iterate through a dictionary / note you only get the keys

d= {'k1':1, 'k2':2, 'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [373]:
# if you want to iterate through the items themselves, and not just the keys, you need to do the following:

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [376]:
# you can then take this back to tuple unpacking: 

for key,value in d.items():
    print(value)

1
2
3

In [378]:
# if you knew what you were wanting you could also do the following:

for value in d.values():
    print(value)
    
# remember dictionaries are unordered to when you iterate through a dictionary you might not get them back in an order.

1
2
3

In [386]:
# While Loops

# While something is still ongoing, keep going. The boolean must be true. 

# While Loops Syntax

# while some_boolean_condition
    # do something
# else: do something different

x = 0
5
while x < 5: 
    print(f'The current value of x is {x}')
    x = x + 1

    # If you don't get to a point where it becomes false (in this case it reaches where = 5 rather than <)
    # it becomes an infinite loop which is a common mistake.
    # You can use Kernel, restart and redefine your cells if you hit this error. 
    
x = 0

while x < 5: 
    print(f'The current value of x is {x}')
    x += 1
else: 
    print("x is not less than 5!")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5!

In [387]:
x = 50 #if the statement was never true

while x < 5: 
    print(f'The current value of x is {x}')
    x += 1
else: 
    print("x is not less than 5!")

x is not less than 5!

In [388]:
# Useful statements 

 # Break: breaks out of the current closes enclosing loop.

 # Continue: Goes to the top of the closest enclosing loop.

 # Pass: Does nothing at all.

In [393]:
# Example of pass:

x = [1,2,3]

for item in x:
    pass 
print('I can still print now because of pass')
# pass allows us do nothing at all. If we leave the whitespace blank we will get EOF error while parsing.
# a comment will not prevent this error, which is why we need to add pass in rather than leaving the whitespace empty.

I can still print now because of pass

In [394]:
# Example of Continue 

mystring = 'Sammy'

for letter in mystring:
    print(letter)

S
a
m
m
y

In [395]:
# If you didnt want a letter for some reason you could add in an if statement:

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

    #so what happens is continue is telling us if that letter is equal to 'a' go back to the top of the enclosed loop
    #in this case, go back to next letter. 
    #note its a loop, and not a statement.

S
m
m
y

In [396]:
# Example Break

# If you use break instead of continue it breaks the loop when that value becomes true. 

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [397]:
# Break can be really useful with while statements. 

# Example below:

x = 0

while x < 5:
    print(x)
    x +=1

0
1
2
3
4

In [399]:
# say we want to break this when x = 2

x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [400]:
# Useful Operators in Python

In [401]:
# often creating lists of numbers, we can iterate through it using range. Note it is up to but not including 10. 

#range operator.
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [402]:
# We can also set up up a starting integer (note starting integer is included):

for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [403]:
# Can add in a value for a jump step:

for num in range(0,11,2):
    print(num)

    # you can see we included 10 by placing our stop value as 11.

0
2
4
6
8
10

In [405]:
# Generator functions allow you to declare a function that behaves like an iterator.
# List is a generator, so it won't work if you try to put this for example:

# range(0,11,2)

# but it will work if you declare a function:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [408]:
# Enumerate Operator Use Case

index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter)) 
    index_count += 1

# this was so commonly used that python developed the enumerate function.

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [409]:
# Enumerate Operator Example:

word = 'abcde'

for item in enumerate(word):
    print(item) 

    # you get this back in terms of tuples, which we can go on to unpack, using tuples unpacking.

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [410]:
# Enumerate with tuples unpacking

word = 'abcde'

for index,letter in enumerate(word):
    print(index) 
    print(letter)
    print('\n') # to print a new line

0
a


1
b


2
c


3
d


4
e

In [411]:
# Zip Operator 

# Zips together two lists


mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']

for item in zip(mylist1, mylist2):
    print(item)

# this is why tuples unpacking can be so useful, as many functions in python will produce tuples.

(1, 'a')
(2, 'b')
(3, 'c')

In [412]:
# You can use zip operators with more than two lists: 

mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [415]:
# What happens if these lists are uneven? 

# You get the same result, because it can only run as far as the lists are equal. 
# Any extra items will not create an error but be ignored.

mylist1 = [1,2,3,4,5,6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [416]:
# You can also generate this into a list and it will still skip items that are not equal in both lists. 

list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [417]:
# in operator 
# can be quickly be used to check if something is in a list

# Example of in operator

'x' in [1,2,3]

False

In [419]:
# in Operator works on lists:

x in ['x', 'y','z']

False

In [420]:
# in Operator works on strings:

'a' in 'aligator'

True

In [422]:
# in Operator works on dictionaries for keys:

'mykey' in {'mykey':345}

True

In [425]:
# You can do this for items in a dictionary too: 

d = {'mykey':345}

345 in d.values()

True

In [428]:
# Operators min and max 

mylist = [10,20,30,40,100]

min(mylist) #pulls back min value in the list

max(mylist) #pulls back max valye in the list

100

In [431]:
# Import functions from a library

# SYNTAX
# from random import USE_THE_TAB_KEY

# Example of import function shuffle (note shuffle is an inplace function)

from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]

shuffle(mylist)

mylist

[4, 10, 9, 6, 7, 1, 8, 3, 2, 5]

In [435]:
# Function for grabbing a random integer:

from random import randint

randint(0,100) 

# the 0 is the lower range, the 100 is the upper range of this random integer grab 
# because this function returns a value you can save it

65

In [437]:
mynum = randint(0,10)

In [438]:
mynum #this now saves it.

2

In [ ]:
mynum #meaning if you call mynum you will get the same value rather than a random one.

In [1]:
# Use the input function

input('Enter a number here:')

Enter a number here:50

'50'

In [2]:
result = input('What is your name? ')

What is your name? Hollie

In [3]:
result

'Hollie'

In [4]:
#note input will always pass in as a string

In [5]:
result = input('Favourite Number:  ')

Favourite Number:  11

In [6]:
result

'11'

In [9]:
# we can see by checking type, that python confirms this is a string.
type(result)

str

In [10]:
# If you need to cast or change this to another data type 

# Floating integer

float(result)

11.0

In [11]:
# Number

int(result)

11

In [13]:
# List Comprehensions - a unique way to complete lists in python

mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)

In [14]:
mylist

['h', 'e', 'l', 'l', 'o']

In [15]:
# You can achieve this on a single line of code.


mylist = [letter for letter in mystring]

In [16]:
mylist

['h', 'e', 'l', 'l', 'o']

In [17]:
# the logic is essentially a flattened out for loop

In [18]:
# Another example of list comprehension:

mylist = [x for x in 'word']

In [19]:
mylist

['w', 'o', 'r', 'd']

In [20]:
# x represesnt the element and is interchangeable with the same results, exampled below:

mylist = [abc for abc in 'wordtwo']

In [21]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [23]:
mylist = [ x for x in range (0,11)]

In [24]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# so we can change x here for num to make it a little clearer: 

mylist = [num for num in range(0,11)]

In [26]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# So now you can do this, you can place operators on the first variable name. 

# For example if you wanted to grab the square of every number in this range:

mylist = [num**2 for num in range (0,11)]

In [28]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
# You can also add if statements into these flattened for loops:

mylist = [ x for x in range (0,11) if x%2==0]

In [30]:
mylist

[0, 2, 4, 6, 8, 10]

In [31]:
# then you can add appends or change the statement to hold this by default. 

celsius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp +32) for temp in celsius]

In [32]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [33]:
# So this is the same as if we were to:

fahrenheit = [] #open an empty list

for temp in celsius:
    fahrenheit.append(( (9/5)*temp+32))

In [34]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [36]:
# You can use if/else statements in flattened for loops
# Note whilst this can be useful, we still want to maintain readability. 

results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [37]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [40]:
# Nested loop

mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [41]:
mylist

# You can see how this nested loop multiples x by the three values in y, before moving on to the next value in x, * y.

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [44]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

# You can see here that the nested loops can be used in the flattend for loop but again be careful with readability.

In [45]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [46]:
# Heading to GitHub for Python Statements Test

In [47]:
# Section 6: Methods and Functions!

# Methods (Functions that are built into objects)

mylist = [1,2,3]

mylist.append(4)

In [48]:
mylist

[1, 2, 3, 4]

In [49]:
mylist.pop()

4

In [50]:
mylist

[1, 2, 3]

In [51]:
# How to discover methods on your own:

# Option 1: if you put mylist. and then press tab you get a list 

# Option 2: you can call the help functon
# Might be most useful whilst you are learning python.

help(mylist.insert)

# Option 3: Check the Python documentation. 
# You can see everything in Library 
# Stackoverflow might be easier to read/have a nice explanation.
# Might be more useful when you get more advanced.

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [52]:
# Functions in Python

# Functions allow us to creat blocks of code that can easily be executed.
# Then you dont need to repeat the same code. 

# Syntax

# def name_of_function():
 #   '''
  #  #Doctstring explains function
   # print("hello")'''
    
    
# We will begin to use return instead of print.
# Return allows us to assign the output as a new variable.

# Example 
# def add_functio(num1,num2):
#    return num1 + num2.

In [53]:
def name_function():
    print("Hello")

In [54]:
name_function() # Need to included parenthesis

Hello

In [55]:
# Doc String

def name_function():
    ''' DOCTSTRING: INFORMATION ABOUT THE FUNCTION
    INPUT: NO INPUT
    OUTPUT: HELLO..'''
    print('Hello')

In [56]:
name_function()

# but if you use help now you get the doc string
# Useful for future, e.g. programming in team/returning back to things.

Hello

In [57]:
def say_hello():
    print('hello')

In [58]:
say_hello()

hello

In [59]:
# let's add a parameter or argument to this function:

def say_hello(name):
    print('hello '+name)

In [60]:
say_hello('Hollie')

hello Hollie

In [64]:
# Default parameters:

def say_hello(name = 'NAME'):
    print('hello '+name)

In [65]:
say_hello()

# Default only occurs when you don't provide any item into the function.

hello NAME

In [66]:
say_hello('James')

hello James

In [67]:
# Getting results back to save to a variable:

result =  say_hello('David')

hello David

In [68]:
result

In [70]:
type(result)

NoneType

In [71]:
# Here you can see nothing has been assigned above.
# If we want to assign the variable then we need to use return. 

def say_hello(name = 'NAME'):
    return 'hello '+name

In [72]:
result = say_hello("Hollie")

In [73]:
result

'hello Hollie'

In [74]:
# Another example of this:

def add(n1,n2):
    return n1+n2

In [75]:
result = add(20,30) 

# result = allows us to save this result to a variable

In [76]:
result

50

In [78]:
# Example Problems

# Find out if the word "dog" is in a string?

def dog_check(mystring):
    if 'dog'in mystring:
        return True
    else:
        return False

In [79]:
dog_check('My dog ran away')

True

In [81]:
dog_check('My cat ran away')

False

In [82]:
dog_check('Dog ran away')

# it says false  now because it is only finding lower case d

False

In [83]:
# We can add a bit more logic to prevent this:

def dog_check(mystring):
    if 'dog'in mystring.lower():
        return True
    else:
        return False

In [84]:
dog_check('Dog ran away')

True

In [85]:
# How could we add more logic?

# Above work is typical example that someone is new to python.
# Because the above is a boolean but we don't need an if statement for that

def dog_check(mystring):
    return 'dog' in mystring.lower() #this alone is already the boolean.
dog_check('Dog ran away')

True

In [93]:
# Pig Latin 
# How to change a word to a code word by addig 'ay' to the end. 
# If it starts with a vowel you dont move the first letter. 

# Working Example: Pig latin translator 

def pig_latin(word):
    
    first_letter = word[0]
    
    # check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [94]:
pig_latin('word')

'ordway'

In [95]:
pig_latin('apple')

'appleay'

In [96]:
# *args and **kwargs

#*args stands for arguments
#**kwargs stands for key arguments

In [97]:
def myfunc(a,b):
    #Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [98]:
myfunc(40,60)

5.0

In [99]:
# a and b above are positional arguments. 

# a to 40 and b to 60

# we had to pass a,b as a tuple into sum.
# what if we have more than just a and b?

# We could assign additional parameters, c.
# Then we could assing c=0 in case it was not needed.
# Howwever, what if we hit more than this no.

In [100]:
def myfunc(*args): 
    #this allows us to treat this as a tuple. 
    return sum(args) * 0.05

In [102]:
# now we can pass in as many parameters as wanted.

myfunc(40,60,100)

10.0

In [103]:
def myfunc(*args):
    for item in args:
        print(item)

In [107]:
myfunc(40,60,100,1,24)

40
60
100
1
24

In [111]:
# Python also offers a way to do this with keyword arguments

# **Kwargs 
#builds out a dictionary of key value pairs.

#Example

def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [113]:
myfunc(fruit='apple', veggie = 'onion')

My fruit of choice is apple

In [117]:
# Using args and kwargs together

def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [118]:
myfunc(10,20,30,fruit = 'orange', food= 'eggs', animal = 'dog')

# This will become more useful if yoou use external libraries.

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [123]:
#def myfunc(*args):
#   tmplist = [] 
#   
#   for num in args:
#        if num %2 == 0:
#            tmplist.append(num)    
#    return(tmplist)



#def myfunc(*args):
#    return [num for num in args if num %2 == 0]

In [164]:
def myfunc(*args): 
    tmplist = []
    for idx in range(0, len(args)):
        if idx % 2 == 0:
            tmplist.append(args[idx].upper())
        else:
            tmplist.append(args[idx].lower())
    return tmplist

In [165]:
myfunc('Anthropomorphism')

Yes

['ANTHROPOMORPHISM']